<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>bookserver-client</title>
</head>
<body>
<div th:if="${param.error}">
    Usuário ou senha inválidos
</div>
<div th:if="${param.logout}">
    Você foi deslogado
</div>

<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <div><label> Login: <input type="text" name="username"/> </label></div>
    <div><label> Senha: <input type="password" name="password"/> </label></div>
    <div><button type="submit">Enviar</button></div>
    <div><button type="button" onclick="javascript: window.location.href='/home'">Voltar</button>
    </div>
</form>
</body>
</html>
